* {
    margin: 0;
    padding: 0%;
    -webkit-animation-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("./imagenes/admin.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 1em;
}

#botones{
    display: inline;
}

#contenedor{
    height: 900px;
}
#contenido{
    position: relative;
}
/*
#aside{
    position: relative;
    float: right;
    width: 35%;
    height: 550px;
}*/

#section{
    position: relative;
    width: 80%;
    margin: auto;
}


#articulo {
    width: 60%;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    opacity: .9;
}

#login {
    position: absolute;
    background: #fff;
    height: 600px;
    border: 2px solid #ccc;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    opacity: .9;
}

#login>a{
    text-align: center;
}

h2,h3 {
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

p {
    text-align: justify;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

select{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    font-size: 18px;
    padding: 10px;
}

button {
    background: #555;
    color: #fff;
    border-radius: 5px;
    position: relative;
    margin-right: 50px;
}

button:hover {
    opacity: .7;
}

#footer {
    margin-top: 45px;
    padding: 20px;
    background-color: black;
    width: 100%;
    height: 110px;
    border-radius: 1em;
}



#footer>p{
    text-align: left;
    font-family: Arial;
    color: #fff;
    padding: 2em;
    font-size: 1em;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th{
    background-color: rgb(175, 175, 175);
  }
  
  td, th {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }
